<div class="hit-dice-display" data-actor-id="{{actorId}}">
  <div class="hit-dice-info">
    <span class="hit-dice-label">Hit Dice</span>
    <span class="hit-dice-value">{{current}} / {{max}}</span>
  </div>
  <button type="button" class="hit-dice-btn" title="Hit Dice würfeln">
    <i class="fas fa-dice-d6"></i>
  </button>
</div>
